body{
    display : flex;
    flex-wrap: wrap;
}

article{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0.5%;
}
header{
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 0.5%;
}

section{
    flex-wrap: nowrap;
    margin: 0.5%;
}

h1{
    flex-basis: 100%;
}

p{
    flex-basis: 100%;
    margin-bottom: 0.5%;
}

#rose{
    flex-basis: 100%;
}